{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>

        <meta name="description" content="{% comment %} todo {% endcomment %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'dist/main.css' %}">

        {% comment %} Update after setup: Fonts {% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
        {% comment %} Update after setup: Add FontAwesome if required {% endcomment %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% include 'includes/nav.html' %}

        {% block content %}{% endblock %}

        <script type="text/javascript" src="{% static 'js/components.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/templatesite.js' %}"></script>
    </body>
</html>
