// todo: make primary darken more on hover

.skip-to-content-button {
    position:absolute;
    left:-999px;
    top:auto;
    overflow:hidden;
    z-index:-999;
    &:focus {
        left: auto;
        top: auto;
        width: auto;
        height: auto;
        overflow:auto;
        z-index:999;
    }
}