.card {
    border-radius: $radius-large;
    overflow: hidden;
    @extend %md-shadow;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: $column-gap;

    .col {
        @extend %flex-item;

        .card {
            background-color: $very-light-brown;
            height: 100%;
        }
    }
}

.with-card-hover-effect .card, .card.with-card-hover-effect {
    transition: .1s;
    @extend %md-shadow-with-hover;

    &:hover {
        margin-top: -.33rem;

        .content {
            border-bottom: $border-bottom-underline;
            display: inline;
        }
    }
}