<section class="accordion allow-section-margin">
    {% for item in block.value.items %}
        <div data-accordion-item class="accordion-item">
            <button data-title class="accordion-title unstyled-button">
                {{ item.title }}
                <span class="accordion-arrow">
                    <i class="icon-down-arrow fas fa-chevron-down"></i>
                </span>
            </button>

            <div data-content class="accordion-content display-none">
                <article class="richtext-block allow-section-margin article-width">
                    {{ item.content }}
                </article>
            </div>
        </div>
    {% endfor %}
</section>
