{% extends "base.html" %}

{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-article-page{% endblock %}

{% block content %}
    <div class="large-screen-container">
        {% if page.banner_image %}
            {% image page.banner_image fill-2400x1600 as banner_image %}
            {% include 'blocks/image_banner_block.html' with src="{{ banner_image.url }}" alt="{{ banner_image.title }}" %}
        {% endif %}

        <div>
            <section class="section-container">
                <h1 class="h1">{{ page.title }}</h1>
                {% if page.subtitle %}<h2 class="h3">{{ page.subtitle }}</h2>{% endif %}
            </section>

            <div class="card-grid section-container">
                {% for article in articles %}
                    <div class="col">
                        {% image article.banner_image fill-500x500 as image %}
                        <a href="{{ article.slug }}" class="with-card-hover-effect" aria-label="View {{ article.title }}">
                            {% include 'includes/card.html' with image=image text=article.title %}
                        </a>
                    </div>
                {% empty %}
                    <h2 class="h5">No articles found</h2>
                {% endfor %}
            </div>

            <div class="section-container">
                {% include 'includes/pagination.html' with pagination=paginated_articles %}
            </div>
        </div>
    </div>
{% endblock content %}