{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="large-screen-container">
        <div>
            <h1 class="h1 section-container">Search</h1>

            {% comment %} Search form {% endcomment %}
            <div class="form-container section-container">
                <form action="{% url 'search' %}" method="get">
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="input is-medium" type="text" name="query" placeholder="Search..." {% if search_query %}value="{{ search_query }}"{% endif %}>
                        </div>
                        <div class="control">
                            <input type="submit" value="Search" class="button is-primary is-medium">
                        </div>
                    </div>
                </form>
            </div>

            {% if search_results %}
                {% comment %} Search results {% endcomment %}
                <ul class="search-results section-container-x">
                    {% for result in search_results %}
                        <li class="search-result">
                            <a href="{% pageurl result %}" class="section-container-y lobotomized-owl-margins-sm" aria-label="View {{ result }}">
                                <h2 class="h5 link">{{ result }}</h2>
                                <p>
                                {% if result.search_description %}
                                    {{ result.search_description }}
                                {% elif result.specific.description %}
                                    {{ result.specific.subtitle }}
                                {% elif result.specific.subtitle %}
                                    {{ result.specific.subtitle }}
                                {% endif %}
                                </p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% elif search_query %}
                <p class="h5 section-container">No results found</p>
            {% endif %}


            {% comment %} Pagination {% endcomment %}
            <div class="section-container">
                {% include 'includes/pagination.html' with pagination=search_results query=search_query %}
            </div>
        </div>
    </div>
{% endblock %}
