// Mostly just notes of things which prob aren't worth including at this stage but handy as a reference

%col-20 {
    // width: calc(20% - $double-default-margin);
    flex: 1 calc(20% - $double-default-margin); // https://css-tricks.com/designing-a-product-page-layout-with-flexbox/
}

// align-self
// this lets one of the items be overridden from the `align-items` container value
%align-self {
    align-self: flex-start; // (etc)
}

// order (item)
%order-n1 {
    order: -1; // just an example (default is 0)
}




// flex grow
// If all items have flex-grow set to 1, the remaining space in the container will be distributed equally to all children. 
// If one of the children has a value of 2, that child would take up twice as much of the space either one of the others (or it will try, at least).
// Usually better to use `flex` (eg `flex: 1`)
%flex-grow-1 {
    flex-grow: 1; // just an example (default is 0)
}

// flex-shrink
// This defines the ability for a flex item to shrink if necessary.
%flex-shrink-2 {
    flex-shrink: 2; // just an example (default is 1)
}

// flex
// This is shorthand for flex-grow, flex-shrink and flex-basis combined. The 2nd and 3rd params are optional.
// The default is `flex: 0 1 auto`, but setting it with a single number (eg `flex: 1`) changes flex-basis to 0%.
// eg `flex: 5` is equivlant to `flex-grow: 5; flex-shrink: 1; flex-basis: 0%;`
// NOTE: It's recommended to use this rather than each individually as it assigns the others intelligently
%flex-0 {
    flex: 0; // what would this do?
}
%flex-1 {
    flex: 1;
}
%flex-2 {
    flex: 2;
}
%flex-3 {
    flex: 3;
}
%flex-4 {
    flex: 4;
}




// align-content (note: only works on multi-line containers)
%align-content-stretch {
    align-content: stretch; // 100% height (default)
}
%align-content-flex-start {
    align-content: flex-start; // not 100% height
}
%align-content-flex-end {
    align-content: flex-end; // aligned to bottom
}
%align-content-center {
    align-content: center;
}

%align-items-stretch {
    align-items: stretch; // 100% height (default)
}
%align-items-flex-start {
    align-items: flex-start; // not 100% height
}
%align-items-flex-end {
    align-items: flex-end; // aligned to bottom
}
%align-items-center {
    align-items: center;
}