// Update after setup: SASS variables

// BULMA VARIABLES
// https://bulma.io/documentation/customize/concepts/

// Breakpoints
$tablet: 768px;
$desktop: 1280px;

// INITIAL VARIABLES (used by Bulma)
$red: #D1345B;
$orange: #ff9914;
$light-brown: #CEBEBE;
$very-light-brown: lighten($light-brown, 15%);
$medium-blue: #5ABCB9;
$medium-green: #63E2C6;
$black: #0A0908;
$white: #FFF;
$light-gray: #f5efed;

// DERIVED VARIABLES (used by Bulma)
$primary: $medium-green;

$text: $black;

$button-border-color: $orange;
$button-color: $orange;
$button-hover-color: $white;
$button-hover-border-color: $orange;

$radius-small: 2px;
$radius: 4px;
$radius-large: 8px;
$card-radius: $radius;
$box-radius: $radius;

$shadow: none;
$card-shadow: 5px 6px 17px rgba(0, 0, 0, 0.15);

$column-gap: 0.75rem;


// CUSTOM VARIABLES (not related to Bulma)
$default-border-bottom: 0;
$border-bottom-underline: $black solid 2px;

$default-font-family: 'Epilogue', sans-serif;

$default-border-radius: $radius;

// lobotomized owl margins
$lg-line-margins: 1.5em;
$sm-line-margins: .75em;