.search-results {
    list-style-type: none;

    .search-result {
        &:not(:first-of-type) {
            border-top: solid 2px $light-brown;
        }

        a {
            display: block;
            &:hover .link {
                border-bottom: none;
            }
        }
    }
}