<section class="accordion">
    <div data-accordion-item class="accordion-item">
        <button data-title class="accordion-title unstyled-button">
            Ornare laotreet mi tempus meque
            <span class="accordion-arrow">
                <i class="icon-down-arrow fas fa-chevron-down"></i>
            </span>
        </button>
        <div data-content class="accordion-content display-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Use SemiBold for bolding text nibh, tincidunt eu finibus bibendum, dictum sit amet nulla. Donec sed justo aliquam, interdum nisl quis, this is a link.
        </div>
    </div>

    <div data-accordion-item class="accordion-item">
        <button data-title class="accordion-title unstyled-button">
            Ornare laotreet mi tempus meque
            <span class="accordion-arrow">
                <i class="icon-down-arrow fas fa-chevron-down"></i>
            </span>
        </button>
        <div data-content class="accordion-content display-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Use SemiBold for bolding text nibh, tincidunt eu finibus bibendum, dictum sit amet nulla. Donec sed justo aliquam, interdum nisl quis, this is a link.
        </div>
    </div>

    <div data-accordion-item class="accordion-item">
        <button data-title class="accordion-title unstyled-button">
            Ornare laotreet mi tempus meque
            <span class="accordion-arrow">
                <i class="icon-down-arrow fas fa-chevron-down"></i>
            </span>
        </button>
        <div data-content class="accordion-content display-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Use SemiBold for bolding text nibh, tincidunt eu finibus bibendum, dictum sit amet nulla. Donec sed justo aliquam, interdum nisl quis, this is a link.
        </div>
    </div>
</section>