.large-screen-container {
    @media (min-width: 1920) {
        max-width: 1920 !important;
        margin: 0 auto;
    }
}

.section-container,
.conditional-section-container .section-has-margin {
    margin: 1rem 1rem;
    @media (min-width: $tablet) {
        margin: 2rem 2rem;
    }
    @media (min-width: $desktop) {
        margin: 3rem 3rem;
    }
}

.section-container-x {
    margin: 0 1rem;
    @media (min-width: $tablet) {
        margin: 0 2rem;
    }
    @media (min-width: $desktop) {
        margin: 0 3rem;
    }
}

.section-container-y {
    margin: 1rem 0;
    @media (min-width: $tablet) {
        margin: 2rem 0;
    }
    @media (min-width: $desktop) {
        margin: 3rem 0;
    }
}

.heading-container {
    margin: 1rem 1rem 6rem;
    @media (min-width: $tablet) {
        margin: 2rem 2rem 4rem;
    }
    @media (min-width: $desktop) {
        margin: 3rem 3rem 7rem;
    }
}

.article-width {
    max-width: 55rem;
}