// Transform
// todo: this can be improved and some things can be replaced with variables
@media (prefers-reduced-motion: no-preference) {
    @media (min-width: $desktop) {
        .hover\:scale-small:hover {
            transform: scale(1.033);
        }
        .hover\:scale-medium:hover {
            transform: scale(1.066);
        }
    }

    .transition-fast {
        transition: .2s;
    }
    .transition-medium {
        transition: .4s;
    }
    .transition-slow {
        transition: .75s;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}