@import '_bulma_column_fix.scss';
@import '_flexbox.scss';
@import '_layout.scss';
@import '_transform.scss';

.display-none {
    display: none;
}

.unstyled-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    text-align: left;
}